<br />
<p>
  has tags:
  {% if page.tags %}
  <span class="tags">
  {% for tag in page.tags %}
  <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
  {% endfor %}
  </span>
  {% endif %}<br/>
  Til next time,<br/>
  {{ site.signoff }}
  <span class="muted">{{ page.date | date: "at %H:%M" }}</span>
  <br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/cn/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议</a>进行许可。
</p>
<p>
  <img src="/images/scribble3.png" alt="scribble" /> 
</p>
