// Image
image-background = 'images/checker.png'

// Color
color-background = #f9f9f9
color-font = #555
color-link = #bb2222
color-hover = #dd1144
color-strong = #555

// Font
font-default = "Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode"
font-serif = "Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode"
font-mono = "DejaVu Sans Mono","Bitstream Vera Sans Mono","Andale Mono",Consolas,Menlo,"Andale Mono","Courier New",Monaco,monospace
font-title = "Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif

@import url(https://fonts.googleapis.com/css?family=Galdeano)
@import url(https://fonts.googleapis.com/css?family=Electrolize)
@import url(https://fonts.googleapis.com/css?family=Cuprum)

font-icon = FontAwesome
font-icon-path = 'fonts/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 680px
